@import "tailwindcss";

@theme {
  --color-border: oklch(0.9 0 0);
  --color-input: oklch(0.9 0 0);
  --color-ring: oklch(0.5 0.145 264.375);
  --color-background: oklch(1 0 0);
  --color-foreground: oklch(0.145 0 0);
  --color-primary: oklch(0.5 0.145 264.375);
  --color-primary-foreground: oklch(0.985 0 0);
  --color-secondary: oklch(0.97 0 0);
  --color-secondary-foreground: oklch(0.145 0 0);
  --color-destructive: oklch(0.577 0.245 27.325);
  --color-destructive-foreground: oklch(0.985 0 0);
  --color-muted: oklch(0.97 0 0);
  --color-muted-foreground: oklch(0.556 0 0);
  --color-accent: oklch(0.97 0 0);
  --color-accent-foreground: oklch(0.145 0 0);
  --color-popover: oklch(1 0 0);
  --color-popover-foreground: oklch(0.145 0 0);
  --color-card: oklch(1 0 0);
  --color-card-foreground: oklch(0.145 0 0);
  
  --radius: 0.5rem;
}

@media (prefers-color-scheme: dark) {
  @theme {
    --color-border: oklch(0.27 0 0);
    --color-input: oklch(0.27 0 0);
    --color-ring: oklch(0.83 0 0);
    --color-background: oklch(0.145 0 0);
    --color-foreground: oklch(0.985 0 0);
    --color-primary: oklch(0.83 0 0);
    --color-primary-foreground: oklch(0.145 0 0);
    --color-secondary: oklch(0.27 0 0);
    --color-secondary-foreground: oklch(0.985 0 0);
    --color-destructive: oklch(0.577 0.245 27.325);
    --color-destructive-foreground: oklch(0.985 0 0);
    --color-muted: oklch(0.27 0 0);
    --color-muted-foreground: oklch(0.556 0 0);
    --color-accent: oklch(0.27 0 0);
    --color-accent-foreground: oklch(0.985 0 0);
    --color-popover: oklch(0.27 0 0);
    --color-popover-foreground: oklch(0.985 0 0);
    --color-card: oklch(0.27 0 0);
    --color-card-foreground: oklch(0.985 0 0);
  }
}

* {
  @apply border-border;
}

body {
  @apply bg-background text-foreground;
  font-feature-settings: "rlig" 1, "calt" 1;
}
